Repository vasubajaj7/demo-8eyuba: changes, and which pre-commit hooks are due for each by the changed paths.
All: airflow-dag-validation, migration-compatibility-check, composer-config-validation

airflow-dag-validation:
  name: Airflow DAG validation
  entry: python -m airflow dags validate
  language: system
  pass_filenames: false

migration-compatibility-check:
  name: Migration compatibility check
  entry: python src/test/migration_tests/test_airflow1_to_airflow2_migration.py
  language: system
  pass_filenames: false

composer-config-validation:
  name: Cloud Composer config validation
  entry: python src/backend/scripts/validate_dags.py
  language: system
  pass_filenames: false

Add public-samples/demo-8eyuba/infrastructure/scripts/backup_restore.sh
  infrastructure/scripts/backup_restore.sh
Due: none

Add public-samples/demo-8eyuba/infrastructure/scripts/configure_network.sh
  infrastructure/scripts/configure_network.sh
Due: none

Add public-samples/demo-8eyuba/infrastructure/scripts/disaster_recovery.sh
  infrastructure/scripts/disaster_recovery.sh
Due: none

Add public-samples/demo-8eyuba/infrastructure/scripts/migrate_composer1_to_composer2.sh
  infrastructure/scripts/migrate_composer1_to_composer2.sh
Due: none

Add public-samples/demo-8eyuba/infrastructure/scripts/rotate_creds.sh
  infrastructure/scripts/rotate_creds.sh
Due: none

Add public-samples/demo-8eyuba/infrastructure/scripts/setup_environments.sh
  infrastructure/scripts/setup_environments.sh
Due: none

Add public-samples/demo-8eyuba/src/backend/.dockerignore
  src/backend/.dockerignore
Due: none

Add public-samples/demo-8eyuba/src/backend/.env.example
  src/backend/.env.example
Due: none

Add public-samples/demo-8eyuba/src/backend/Dockerfile
  src/backend/Dockerfile
Due: none

Add public-samples/demo-8eyuba/src/backend/README.md
  src/backend/README.md
Due: none

Add public-samples/demo-8eyuba/src/backend/airflow.cfg
  src/backend/airflow.cfg
Due: none

Add public-samples/demo-8eyuba/src/backend/conftest.py
  src/backend/conftest.py
Due: migration-compatibility-check

Add public-samples/demo-8eyuba/src/backend/constraints.txt
  src/backend/constraints.txt
Due: none

Add public-samples/demo-8eyuba/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Due: none

Add public-samples/demo-8eyuba/src/backend/package.json
  src/backend/package.json
Due: none

Add public-samples/demo-8eyuba/src/backend/pyproject.toml
  src/backend/pyproject.toml
Due: none

Add public-samples/demo-8eyuba/src/backend/pytest.ini
  src/backend/pytest.ini
Due: none

Add public-samples/demo-8eyuba/src/backend/requirements-dev.txt
  src/backend/requirements-dev.txt
Due: none

Add public-samples/demo-8eyuba/src/backend/requirements.txt
  src/backend/requirements.txt
Due: none

Add public-samples/demo-8eyuba/src/backend/setup.py
  src/backend/setup.py
Due: migration-compatibility-check

Add public-samples/demo-8eyuba/src/backend/tsconfig.json
  src/backend/tsconfig.json
Due: none

Add public-samples/demo-8eyuba/src/backend/webserver_config.py
  src/backend/webserver_config.py
Due: migration-compatibility-check

Add public-samples/demo-8eyuba/src/backend/ci-cd/approval-workflow.json
  src/backend/ci-cd/approval-workflow.json
Due: none

Add public-samples/demo-8eyuba/src/backend/ci-cd/cloudbuild.yaml
  src/backend/ci-cd/cloudbuild.yaml
Due: none

Add public-samples/demo-8eyuba/src/backend/ci-cd/deploy-dev.sh
  src/backend/ci-cd/deploy-dev.sh
Due: none

Add public-samples/demo-8eyuba/src/backend/ci-cd/deploy-prod.sh
  src/backend/ci-cd/deploy-prod.sh
Due: none

Add public-samples/demo-8eyuba/src/backend/ci-cd/deploy-qa.sh
  src/backend/ci-cd/deploy-qa.sh
Due: none

Add public-samples/demo-8eyuba/src/backend/ci-cd/github-actions-deploy.yml
  src/backend/ci-cd/github-actions-deploy.yml
Due: none

Add public-samples/demo-8eyuba/src/backend/ci-cd/github-actions-pr.yml
  src/backend/ci-cd/github-actions-pr.yml
Due: none

Add public-samples/demo-8eyuba/src/backend/ci-cd/github-actions-test.yml
  src/backend/ci-cd/github-actions-test.yml
Due: none

Add public-samples/demo-8eyuba/src/backend/config/__init__.py
  src/backend/config/__init__.py
Due: migration-compatibility-check, composer-config-validation

Add public-samples/demo-8eyuba/src/backend/config/composer_dev.py
  src/backend/config/composer_dev.py
Due: migration-compatibility-check, composer-config-validation

Add public-samples/demo-8eyuba/src/backend/config/composer_prod.py
  src/backend/config/composer_prod.py
Due: migration-compatibility-check, composer-config-validation

Add public-samples/demo-8eyuba/src/backend/config/composer_qa.py
  src/backend/config/composer_qa.py
Due: migration-compatibility-check, composer-config-validation

Add public-samples/demo-8eyuba/src/backend/config/connections.json
  src/backend/config/connections.json
Due: none

Add public-samples/demo-8eyuba/src/backend/config/pools.json
  src/backend/config/pools.json
Due: none

Add public-samples/demo-8eyuba/src/backend/config/variables.json
  src/backend/config/variables.json
Due: none

Add public-samples/demo-8eyuba/src/backend/dags/README.md
  src/backend/dags/README.md
Due: none

Add public-samples/demo-8eyuba/src/backend/dags/__init__.py
  src/backend/dags/__init__.py
Due: airflow-dag-validation, migration-compatibility-check, composer-config-validation

Add public-samples/demo-8eyuba/src/backend/dags/data_sync.py
  src/backend/dags/data_sync.py
Due: airflow-dag-validation, migration-compatibility-check, composer-config-validation

Path conditions:
  airflow-dag-validation: any of: ^src/backend/dags/.*\.py$
  migration-compatibility-check: any of: ^src/backend/.*\.py$
  composer-config-validation: any of: ^src/backend/(dags|config)/.*\.py$
